body {
  background-color: #ebeae8;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  scroll-behavior: smooth;
}
.alert {
  background-color: rgb(189, 20, 20);
  color: #ebeae8;
  font-size: large;
  margin: 0px;
  height: 32px;
  justify-content: center;
  display: flex;
  align-items: center;
}

header {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  height: 80px;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(85, 85, 85, 0.226);
}

nav {
  width: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 32px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0px 16px;
}

nav ul li a {
  text-decoration: none;
  transition-duration: 100ms;
  font-size: medium;
  padding-bottom: 8px;
  color: rgb(39, 39, 39);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav ul li a:hover {
  color: rgb(83, 83, 83);
  transition-duration: 200ms;
}
/* add hr element and use JS to add a line under nav items */
.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia a svg {
  margin: 0px 8px 0px 8px;
  color: rgb(29, 28, 28);
}

.socialMedia a svg:hover {
  color: rgba(63, 63, 63, 0.356);
  transition-duration: 200ms;
}

main {
  height: 850px;
  background-image: url(back.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ebeae8;
}
main h1 {
  margin: 0px;
  margin-top: 300px;
  font-size: 62px;
}

.button-about {
  display: flex;
  height: 40px;
  width: 160px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(52, 183, 167);
  border: none;
  border-radius: 15px;
  color: #ebeae8;
  margin-top: 32px;
  cursor: pointer;
  transition-duration: 100ms;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.button-about:hover {
  background-color: rgb(80, 184, 172);
  transition-duration: 200ms;
  color: #ebeae8;
}

footer {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0px;
  text-align: center;
  height: max-content;
}
/* Bellow Is css for about me page */
